/* basic_style.css */
QMainWindow {
    background-color: #0a0a1a;
    color: #e0e0e0;
}

QPushButton {
    color: white;
    background-color: #1a3d1a;
    border: none;
    padding: 5px;
    min-width: 80px;
}

QStackedWidget {
    background-color: #0a0a1a;
}

QLabel {
    color: #e0e0e0;
    font-size: 12px;
}